@{
  Layout = "_Layout";
}

@using PierresTreats.ViewModels

@model RegisterViewModel

<h1>Register an account</h1>
<hr />

@if (!ViewData.ModelState.IsValid)
{
  @Html.ValidationSummary("Please fix the following error(s) and then resubmit the form:")
}

@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
  @Html.LabelFor(user => user.Email)
  @Html.TextBoxFor(user=> user.Email)

  @* @Html.LabelFor(user => user.DisplayName)
  @Html.TextBoxFor(user=> user.DisplayName) *@

  @Html.LabelFor(user=> user.Password)
  @Html.EditorFor(user=> user.Password)

  @Html.LabelFor(user=> user.ConfirmPassword)
  @Html.EditorFor(user=> user.ConfirmPassword)

  <input type="submit" class="button" value="Register" />
}
<br>
<a href='@Url.Action("Index")'>
  <button type="button" class="button">Back</button>
</a>